* {
  background-color: #f9f3f3;
  font-family: "Sofia Sans Extra Condensed", serif;
  font-weight: 300;
  font-size: 1.2rem;
  color:#41101F;
}

h1{
  font-family: "Orbitron", serif;
  font-weight: bold;
}